html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-weight: bold;
}

img {
    display: block;
    width: 100%;
}

pre {
    display: inline;
    font-size: 110%;
    padding: 0.1em 0.3em 0.15em;
    margin-right: 0.15em;
    border-radius: 0.15em;
    background:#efefef;
}

h1 {
    text-align: center;
}